<div class="jumbotron text-center">
    <h1>Matlab Endpoint test page</h1>

    <p>Here we can test matlab endpoints!</p>
    <br>
    <form>
        Área do triângulo:<br>
        Base: <input ng-model="triBase" style="margin-bottom: 20px;" type="text" name="lastname"><br>
        Altura: <input ng-model="triAltura" type="text" name="lastname"><br>
        <button class="btn btn-primary" ng-click="CalculaAreaTriangulo(triBase, triAltura)">Go!</button>
        <label style="margin-left: 20px; margin-right: 20px;">{{areaTrianguloResultado}}</label><br><br>
        <button class="btn btn-primary" ng-click="ComplexTest()">ComplexObject</button><br>
        <label style="margin-left: 20px; margin-right: 20px;">{{complexObject}}</label><br><br>
      </form>
</div>