<div>
    <canvas id="testCanvas" width="1000" height="400"></canvas>
    <div id="ActionBar">
        <nav class="navbar navbar-default" style="text-align:center;">
            <button type="button" class="btn btn-primary" ng-click="NewElement()" style="height: 50px; width: 30%;">
                New Element
            </button>
            <button type="button" class="btn btn-warning" ng-click="DeleteElement()" style="height: 50px; width: 30%;" >Remove Element</button>
        </nav>
    </div>
</div>